<div class="row">
  <div class="col-md-4 py-2">
    <%= availability.starts_on.strftime("%b %d, %Y") %> - <%= availability.ends_on.strftime("%b %d, %Y") %>
  </div>
  <div class="col-md-4 py-2">
    <strong>Rate:</strong> <%= number_to_currency(availability.reserve_price) %>
  </div>
  <div class="col-md-4 py-2">
    <button type="button" class="btn btn-primary">Book</button>
  </div>
</div>
